*{
    font-family: 'arial';
    font-weight: 100;
    
}

/* 
                Animaciones
    
    animation-name: name
    animation-duration: duration
    animation-delay: delay
    animation-timing-function: (transition values)
    animation-iteration-count: number
    animation-fill-mode: none| forwards | backwards | both | initial | inherit;
    animation-direction: normal | reverse | alternate | alternate-reverse

    regla
    @KeyFrames
    ---------------------------------------------------------------------------
    cubic-bezier

      */


.container{
    
    background: #86f;
    padding: 20px 5px;
}

.caja{
    background: #025;
    height: 80px;
    width: 80px;
    margin: 20px;
    position: relative;
    animation-name: desplazarse ;
    animation-duration: 2s;
    /* Cuantas veces se va repetir la animacion, si queremos que se repeti muchas veces
        colocamos infinite */
    animation-iteration-count: infinite;
    /* Cambia la direccion de la animacion, normal es el valor por defecto
        reverse : invertirse
        alternate: es un normal y despues un reverse
        alternate-reverse- es lo mismo que el anterior solo que empieza al reves */
    animation-direction: alternate;
    /*  animation-fill-mode, tiene varias propiedades,
        none : la transicion comienza y vuelve a la normalidad
        forwards: se queda con la ultima posicion en la que estamos
        both: arranca con la propiedad que le decimos al comienzo de la animacion
        */
    animation-fill-mode: both;
    animation-delay: 1s;
    /* #----------cubic-bezier 
        Se puede buscar en google generador de curva de bezier*/
    animation-timing-function: cubic-bezier(0.04, 1.08, 0.76, 1.11);
}

@keyframes desplazarse {
    0%{
        left: 0;
        background: #025;
    }

    50%{
        background: red;
    }
    100%{
        left: 80%;
        background: green;
    }
}

