<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    <meta name="viewbort" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" tybe="text/css" href="../css/estilo.css">
    <link rel="stylesheet" tybe="text/css" href="../normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/71c23c1755.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedor">        
        <h4>un h4</h4>
        <h2 class="h2">un h2</h2>
        <p>párrafo</p>
    </div>
<!-- Enlazar javascript  de forma correcta-->
<script src="../js/codigo.js"></script>
</body>
</html>