/* Fondos a toda nuestra pagina , utilizamos body */
/* body{
    /* Para agregar una imagen utilzamos url escribimos la ruta de la imagen, */
    /* con (..) indicamos que queremos regresar una carpeta  */
    /* background: url(../img/img.jpg); */
    /* background-repeat sirve para decidir como queremos que se repita nuestra imagen,
        ya que cuando alejamos nuestro navegador podemos observar como se repite,
        si queremos que no se repita escribimos no-repeat (Se suele usar),
        si queremos que se repita en horizontal repeat-x (ya no usa tanto), 
        ya que existen degradados con css,
        si queremos que se repita en vertical repeat-y */
    /* background-repeat: no-repeat; */
    /* background-attachment podemos decirle que el fondo este arreglado,
        con (fixed) que es para que fondo se mantenga estatico,
        tambien esta la propiedad por defecto(scroll)  */
    /* background-attachment: fixed;
    background-position sirve para posicionar tu fondo se puede usar propiedad center
    o la cntidad de pixeles que queremos.
    background-position: center 0px;     } 
    */

 /*Nuestro div tambien pueden tener imagenes de fondo  */
div {
    background:url(../img/img.jpg);
    /* Ya que nuestra imagen es muy grande no la podemos observar en nuestro div
        para que se vea, tenemos que colocarle un height, pero si lo dejamos
        solo asi nuestro fondo se repite y se veria mal, tendriamos que usar
        background-repeat: no-repeat; */
    height:300px ;
    background-repeat: no-repeat;
    background-position: 0px -250px; 
           

}    


 