<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    <meta name="viewbort" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
    <button class="t14">14px</button>
    <button class="t16">16px</button>
    <button class="t18">18px</button>    
    <div class="texto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sed asperiores minus et tenetur veritatis aliquid. Ex, natus corrupti veritatis iste laudantium hic eaque corporis exercitationem iusto sint deleniti veniam?
        Quas corporis quod voluptatum ex ut deleniti placeat, culpa magnam sequi reprehenderit, incidunt nobis error suscipit? Repellat laborum exercitationem impedit. Eum aspernatur nisi, debitis consequuntur excepturi in! Modi, accusantium veniam.
        Cumque quia explicabo nostrum reprehenderit nisi, tenetur minus obcaecati illum facere, ullam provident impedit qui a id non consectetur deserunt. Maiores, nihil totam veniam illo eos exercitationem voluptas a expedita.
        Quod obcaecati tempora officia at expedita iure voluptas repellat? Ad, nostrum voluptas. Nam nesciunt fugit error maxime nulla eaque, modi quibusdam quod illo doloremque id consequatur. Vitae beatae omnis reprehenderit.
        Quod molestiae reiciendis exercitationem repellendus ipsa, sequi distinctio labore officiis, quos natus, magnam eos? Deleniti dolorem adipisci facilis nihil officia, amet modi esse! Assumenda officiis deserunt eligendi atque possimus! Suscipit!0
    </div>
    <!-- Enlazar javascript  de forma correcta-->
    <script src="../js/codigo.js"></script>
</body>

</html>