<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    <meta name="viewbort" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" tybe="text/css" href="../css/estilo.css">
    <link rel="stylesheet" tybe="text/css" href="../normalize.css">
</head>
<body>
<div class="caja1">
Div de prueba
</div>

<a class="pruebalink" href="https://www.google.com/?hl=es" target="_BLANK">link</a>
<div class="caja2">
    caja2
    </div>
<input class="pruebainput">
<div class="caja3">
    <b lang="en"> how are you</b>
    <b>hola como estas</b>

   </div>    
</input>    
</body>
</html>