<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link rel="stylesheet" type="text/css" href="../normalize.css">
</head>
<body>
    <h2>Titulo</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Porro at doloremque ab aliquid recusandae, rerum magni! Totam,
        fuga quam aut, fugiat placeat praesentium id consequatur enim,
        tempora architecto consequuntur doloremque?</p>

</body>
</html>