/* Tipos de selectores
    Selector universal: *, no se utiliza mucho solo para casos especificos,
    sirve para cambiar todos los aspectos de los elementos, se suele utilizar mucho
    para cambiar el margin que es una propiedad que nos permite  agregar margen y 
    el padding que es un margen interno que tienen los elementos.
    Selector de etiquetas: h2 , se puede colocar cualquiera h1,h2 ... y se le coloca
    la propiedad color y el valor  */

/* Selector universal 
*{
    margin:0;
    padding:0;
} */
/* De esta forma se le agrega color a todas nuestras h1... */
h1,h2,h3,h4,h5,h6{
    color:red;
}
/* De esta forma se le agrega el tamaño de la fuente a nuestras etiquetas (font-size),
    le decimos cuantos pixeles queremos que tenga */
h1{
    font-size:50px;
}
/* De esta forma se coloca color a los parrafos */
/* Los selectores descendentes sirven para agregar los valores solamente a un solo elemento
    se hace de esta forma, que le decimos que busque en la etiqueta (p) todas las etiquetas (a)
    y a las etiquetas (a) agregarle los siguientes estilos*/
p a{
    font-size:30px;
    color: red;
}
/* Selector de clases,Para agregar color a otro etiqueta a que este en un parrafo 
    se utiliza la class en la etiqueta y se coloca de esta forma en el css  */
.green{
    color:green;
}
/* Selector con una url */
a[href="https://www.google.com/?hl=es"] {
    color:green;
    font-size:30px;
}

