<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    <meta name="viewbort" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" tybe="text/css" href="../css/estilo.css">
    <link rel="stylesheet" tybe="text/css" href="../normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/71c23c1755.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="modal-background">
        <div class="modal">
            <div class="contenedor-btn_salir">
                <button class="btnSalir">x</button>
            </div>
            <h3 class="resultado"></h3>
            <p class="mensaje"></p>
        </div>
    </div>
    <form class="form-notas">
        <h2>Introduce la nota del alumno:</h2>
        <input type="number" id="nota-alumno">
        <input type="button" id="send-nota"
         value="Otorgar Nota">
    </form>
    <!-- Enlazar javascript  de forma correcta-->
    <script src="../js/codigo.js"></script>
</body>

</html>