<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    <meta name="viewbort" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
    <div class="reloj">
        <div class="hora">00</div>
        <div class="min">00</div>
        <div class="seg">00</div>
    </div>

    <!-- Enlazar javascript  de forma correcta-->
    <script src="../js/codigo.js"></script>
</body>

</html>