form{
    /* Ancho */
    width: 25%;
    /* Borde */
    border:1px solid #ccc;
    /* Margen exteriores */
    margin: 20px;
    /* Margen interno */
    padding: 20px;
}

label{
    font-size: 12px;
    /* Los label son etiquetas linea toca convertirlas a bloque */
    display: block;
    width: 100%;
}

textarea {
    /* la propiedad resize sirve para decirle como queremos que se expanda nuestro text area
    existe la propiedad horizontal, vertical y both (que es ambos lados).
    hay un problema que con vertical puede crecer infinito y no queremos que eso suceda,
    toca usar otra propiedad */
    resize: vertical;
    /* max-height le decimos hasta donde puede crecer nuestro textarea */
    max-height: 300px;
    /* min-height le colocamos una altura minima */
    min-height: 100px;

}
/* Si colocamos (,) le decimos que le aplique los mismos estilos a la etiqueta que coloquemos */
input,textarea{
    /* margin-bottom para darle un margen */
    margin-bottom: 20px;
    /* Le agregamos el width y le damos un valor del 100 % para que obtenga todo el tamaño */
    width: 100%;
    /* Margen interno */
    padding: 10px;
    /* Aregla el problema ya que los label ocupan el 100% */
    box-sizing: border-box;
    /* Agregamos borde y un color gris */
    border: 1px solid #ccc;

}

/* Pseudoselector focus sirve para que editar el cuadro y cuando el usuario de clic
    tenga la sensacion de que esta trabajando en esa area */
input:focus, textarea:focus{
    border: 1px solid #1668C4;
}

input[type="submit"]{
    margin-bottom: 0;
    background: #1668C4;
    color: #fff;
    border: none;
}

input[type="submit"]:hover{
    background: #4A88F4;
    /* la propiedad pointer modifica que cursor se va mostrar  */
    cursor: pointer;
}