/* Si quieres cambiar todas las ul (Listas desordenadas) */
 ul{ 
    /* list-style-type cambia la apariencia de la lista y 
    la propiedad circle las coloca en forma de circulos.
    la propiedad square las coloca en forma de cuadrados.*/
    list-style-type:square ; 
    /* list-style-position el valor por defecto es outside.
    inside nos deja un espaciado pone las listas mas hacia adentro,
    se suele usar mas inside para identificar que es una lista. */
    list-style-position: inside;
 } 

/* Si quieres solo las segundas ul  en adelante utilizamos */
/* ul > ul { */
    /* list-style-type:circle ;
} */

/* Si quieres cambiar todas las ol( Listas ordenadas)*/
ol{
    /* Por defecto tenemos la propiedad decimal.
    la propiedad decimal-leading-zero agrega un 0 para complementar el tamaño.
    upper-latin para usar letras en mayusculas.
    lower-latin para usar letras en minusculas */
    list-style-type: decimal-leading-zero;
}