<!DOCTYPE html>
<html lang="esp">

<head>
    <title>Pagina WEB</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    
</head>
<body>
    <button id="getName">Obtener Nombre</button>
    <button id="getAge">Obtener Edad</button>

    <!-- Libreria axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>    
    <!-- Enlazar javascript  de forma correcta-->
    <script src="../js/codigo.js"></script>
</body>

</html>