<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    <meta name="viewbort" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
    <div class="modal-overlay">
        <div class="modal">
            <h2>¿En que idiomas quieres ver la pagina?</h2>
            <button class="en">Ingles</button><button class="es">Español</button>
        </div>
    </div>

    <!-- Enlazar javascript  de forma correcta-->
    <script src="../js/codigo.js"></script>
</body>

</html>