<!DOCTYPE html>
<html lang="esp">

<head>
    <title>Pagina WEB</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    
</head>
<body>
    <button id="getInfo">Obtener Info</button>
    <div class="resultado">
        <div class="aprobados">Aprobados:
             <b class="num-aprobados"></b>
        </div>
        <div class="desaprobados">Desaprobados:
            <b class="num-desaprobados"></b>
       </div>
    </div>

    <!-- Libreria axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>    
    <!-- Enlazar javascript  de forma correcta-->
    <script src="../js/codigo.js"></script>
</body>

</html>