/* Estilo de nuestra lista para convertirla en un menu de navegación */
.menu{
    /* Ancho */
    width: 100%;
    /* Fondo */
    background: #000;
    /* Quitar viñetas de listas */
    list-style-type: none;
    /* Quitar espacio que dejaron las listas al quitarle las viñetas */
    margin: 0;
    padding: 0;
}

/* Modificar de la clase menu de la etiqueta li */
.menu li{
    /* Colocar un li al lado del otro */
    display: inline-block;
}

/* Modificar de la clase menu en la etiqueta (li) todas las etiquetas (a)  */
.menu li a{
    /* Los elementos (a) son elementos linea  toca cambiarlos a bloque con display inline-block */
    padding:10px 20px ;
    display: inline-block;
    /* Color de fuente */
    color: #fff;
}

.menu li a:hover{
    background: #ccc;
    color: #000;
}
