p {
    /* Para cambiar la Tipografia a nuestro texto se utiliza font-family  */
    /* Las fuentes que llevan un espacio deben llevar comillas,
    se pueden agregar muchas fuentes en caso de que no encuentra alguna 
    pase a buscar la siguiente y si no tiene ninguna de las anteriores 
    el navegador va tomar la que tiene por defecto.
    Se pueden agregar fuentes personalizadas.*/
    font-family: Arial,Helvetica,Sans-serif,"Myriad Pro";
    /* El tamaño se puede manejar con px,pt y porcentaje ejemplo 150% */
    font-size: 20px;
    /* Con font-weight se le dice que tenga una anchura, se puede utilizar la propiedad bold
    que es negrita y normal que es para que vuelva a la normalidad */
    font-weight:normal ;
    /* Para alinear texto se utiliza la propiedad text-align, se puede centrar si es tipo bloque,
    se puede usar center,right y left */
    text-align: center;
    /* Se utiliza line-height para establecer la altura de un cuadro de línea.
    Se usa comúnmente para establecer la distancia entre líneas de texto.
    En elementos a nivel de bloque, especifica la altura mínima
    de los cuadros de línea dentro del elemento. */
    line-height: 30px;
    /* text-decoration nos permite agregarle un decorado al texto, 
    tiene la propiedad underline que es un subrayado,
    los enlaces vienen por defecto con esta propiedad y se le puede quitar
    solamente colocando text-decoration: none;.
    overline agrega una linea por encima del texto no se usa.
    line-through sirve para tachar el texto */
    text-decoration: none;
    /* text-transform sirve para establecer todo el texto en mayusculas, minisculas etc.
    capitalize sirve para que la primera letra de cada palabra va estar en mayuscula.
    uppercase sirve para colocar todas las palabras en mayusculas.
    lowercase sirve para colocar todas las palabras en minisculas. */
    text-transform: lowercase;
    /* letter-scpacing sirve para generar un espaciado entre cada letra.
    por defecto esta normal. */
    letter-spacing: 1px;
    /* word-spacing que sirve para agregar un espaciado al final de cada palabra */
    word-spacing: 20px;
    /* text-shadow sirve para agregarle una sombra al texto,
    recibe 4 parametros , 1-horizontalmente ,2-verticalmente,3-tamaño y 4-color 
    tratar de agregar sombras muy pequeñas para mejor diseño*/
    text-shadow: 1px 1px 0px #000;
}

h1{
    /* Con la propiedad normal se le dice que nuestro encabezado no tenga negrita, ya que por defecto 
    viene bold */
    font-weight: normal;
    text-align: center;
    background:#ccc ;
}