<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
    <!-- Estilo linea -->
    <h1  hola="si" class="color_h1" id="identify" style="color:#0e2349">Mi primer titulo editado en CSS</h1>
    
    <p >
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Earum vero iure eius ipsum inventore provident rem 
        impedit quibusdam amet, aut illum.
        Veritatis, a? Ipsum odio cumque officia rem adipisci ab!
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Earum vero iure eius ipsum inventore provident rem 
        impedit quibusdam amet, aut illum.
        Veritatis, a? Ipsum odio cumque officia rem adipisci ab!
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Earum vero iure eius ipsum inventore provident rem 
        impedit quibusdam amet, aut illum.
        Veritatis, a? Ipsum odio cumque officia rem adipisci ab!

    </p>

</body>
</html>