<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta httb-equiv="X-UA-Combatible" content="IE=edge">
    <meta name="viewbort" content="width=device-width, initial-scale=1.0">
    <title>Pagina WEB</title>
    <link rel="stylesheet" tybe="text/css" href="../css/estilo.css">
    <link rel="stylesheet" tybe="text/css" href="../normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0
    ">
    <script src="https://kit.fontawesome.com/71c23c1755.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="flex-container">
        <form class="form">
            <div  class="form__section">
                <input type="text" class="form__input" placeholder="Escriba su email">
            </div>
            
            <div class="form__section" >
                <input type="email" class="form__input" placeholder="Escriba el asunto">
            </div>
            
            <div class="form__section">
                <textarea class="form__input" placeholder="Escriba su mensaje" ></textarea>
            </div>
            <div class="form__section">
                <input type="submit" class="form__input">
            </div>
        </form>
        <div class="form-img">
            <div class="img-container">
                <div>
                    <img src="../Imagenes/email_icon.png" >
                </div>
            </div>
        </div>
    </div>


   
</body>
</html>