/* Los div son elementos bloques y siempre hacen un salto de linea a menos que se configure con css */
div {
    width: 100px;
    height: 100px;
    background: #4A88f4;
    color: #fff;
    font-size: 30px;
    /* Si agregamos float todas las cajas se acomodan una al lado del otro, pueden ser left o right
    si usamos left es de izquierda a derecha y en caso contrario de derecha a izquierda.
    trabajar con float es lo que se necesita para crear una web compleja y profesional, 
    son un poco confuso*/
   
}


/* Utilizamos (.) + el nombre de la clase */
.caja{
    /*tipos de posicionamiento, por defecto viene static no lee las propiedades  */
    /* position: static; */
    /* Existe la propiedad relative, tiene cuatro propiedades top,bottom,right y left */
    /* position: relative;
    Si le decimos top va desplazar la caja de arriba hacia abajo
    top: 100px ;
    bottom: 0px ;
    /* Si le decimos right va deplazar la caja de derecha a izquierda */
    /* right: 0px; */
    /* Si le decimos left va desplazar la caja de izquierda a derecha   */
    /* left: 200px ;*/
    /* Existe la propiedad absolute, tiene las mismas propiedades que relative */
    /* position: absolute;
    top: 100px;
    bottom: 0;
    right: 0 ;
    left: 200px;  */
    /* El posicionamiento fixed es por coordenadas a partir de nuestra ventana, aqui cuenta a fuerza
    a partir de lo que es nuestra ventana, si se baja el posicionamiento de caja queda fijo en las
    medidas que colocamos y no afecta a los demas elemento puede haber un elemento arriba de el y
    abajo de el y no se va desplazar nunca, se suele utilizar poco */
    /* position: fixed;
    top: 100px;
    bottom: 0;
    right: 0 ;
    left: 200px;  */
    position: static;
} 
 
/* Se agrega float y la propiedad left para indicar que nuestra caja se coloque a la izquierda
    y vemos como nuestro parrafo se alinea con la imagen */
img{
    float:left;
    
}
/* Para hacer un salto de linea le agregamos la class a nuestro etiqueta y utilizamos clear y
    la propiedad both para por decir asi hacer un salto de linea y rompa ese codigo */
.clear{
    clear: both;    
}
