table {
    /* Sirve para quitarse los espaciados */
    border-collapse: collapse;
    /* Ancho */
    width: 500px;
}
table td{
    border:1px solid #000;
    /* Margen interno */
    padding: 10px;
    
}

/* Colocar color a toda la columna cuando el usuario pase el mouse  */
table tr:hover{
    background: #ccc;

}

/* Colocar color a un elemento de la fila cuando el usuario pase el mouse  */
table td:hover{
    background: #000;
    color:#fff
}